* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  /* background: url(https://www.uml.edu/Images/Coronavirus%20image_opt_tcm18-323793.jpg?w=s);
  background-size: cover; */
  font-family: 'Cinzel', serif;
}

#maze {
  margin-bottom: 15px;
}

#time-container {
  margin-bottom: 10px;
}

.btn-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-areas:
    "blank btn-1 blank btn-2 blank"
}

.container {
  display: flex;
  margin-bottom: 10px;
  background-color: rgb(0, 45, 114);
  color: white;
  padding: 10px;
}

.col {
  flex: 1;
  align-self: center;
}

.nav-col {
  align-self: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  height: 35px;
  width: 35px;
  border: 3px solid rgb(0, 45, 114);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

#box-div {
  box-sizing: border-box;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  background: rgb(0, 45, 114);
  margin-top: 10%;
  border-radius: 5px;
  color: rgb(255, 89, 16);
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 4px;
  font-family: 'Cinzel', serif;
  font-size: 15px;
  text-align: center;
}

button {
  font-family: 'Cinzel', serif;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px;
  margin: 5px;
  border: 2px solid #000;
  border-radius: 4px;
  color: #fff;
  background: rgb(93, 102, 111);
  cursor: pointer;
  box-shadow: 0 1px #999;
}

button:hover {
  background: #2b2b2b;
}

button:active {
  box-shadow: 0 0px #666;
  transform: translateY(2px);
}

.navbar {
  margin-bottom: 1%;
}

.generator {
  background: rgb(0, 45, 114);
}

.generator:hover {
  background: rgb(255, 89, 16);
}

[data-id="no"] {
  background: rgb(255, 89, 16);
}

[data-id="no"]:hover {
  background: rgb(0, 45, 114);
}