.virusBubble {
  position: absolute;
  bottom: 0px;

  pointer-events: none;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  50% {
    opacity: .75;
  }

  75% {
    opacity: .5;
  }

  100% {
    transform: translateY(-1200%);
    opacity: 0;
  }
}